{% extends 'bootstrap/base.html' %}


{% block styles %}
{{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
{% endblock %}


{% block title %}Blog Manager{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-12">
  
        <h1>All Blogs</h1>
  
        <table class="table">
          {% for post in posts %}
              <tr>
                <td>{{ post.title}}</td>
                <td>{{ post.subtitle}}</td>
                <td>{{ post.date}}</td>
                <td><a href="{{ url_for('blog.show_blog', restaurant_id=post.restaurant_id) }}">Blog Post</a></td>
                {% if current_user.id == 1%}
                  <td><a href="{{ url_for('blog.delete_blog', blog_id=post.id)}}">delete blog</a></td>
                  <td><a href="{{ url_for('blog.edit_blog', blog_id=post.id)}}">edit blog</a></td>
                {% endif %}
              </tr>
            
          {% endfor %}
        </tbody>
            
        </table>
        <p><a href="{{ url_for('site.site_index') }}">Return to index page</a></p>
  
      </div>
    </div>
  </div>

{% endblock %}