{% extends 'bootstrap/base.html' %}


{% block styles %}
{{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
{% endblock %}


{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-12">
  
        <h1>All Restaurants</h1>
  
        <table class="table">
        <thead>
          <tr>
            {% for item in header %}
              <th scope="col">{{ item }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for restaurant in restaurants %}
              <tr>
                <td>{{ restaurant.name}}</td>
                <td>{{ restaurant.style}}</td>
                <td><a href="{{ restaurant.website}}">Link</a></td>
                <td><a href="{{ restaurant.location}}">Map</a></td>  
                <td>{{ restaurant.open}}</td>
                <td>{{ restaurant.close}}</td>
                <td>{{ restaurant.food_rating}}</td>
                <td>{{ restaurant.price_rating}}</td>    
                <td>{{ restaurant.service_rating}}</td>
                <td><a href="{{ url_for('show_blog', restaurant_id=restaurant.id) }}">Blog Post</a></td>
                {% if current_user.id == 1 %}
                  <td><a href="{{ url_for('add_new_post', restaurant_id=restaurant.id) }}">Add Blog</a></td>
                {% endif %}
              </tr>
            
          {% endfor %}
        </tbody>
            
        </table>
        <p><a href="{{ url_for('home') }}">Return to index page</a></p>
        <p><a href="{{ url_for('all_blogs') }}">View All Blogs</a></p>
  
      </div>
    </div>
  </div>

{% endblock %}