{% extends 'bootstrap/base.html' %}


{% block styles %}
{{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
{% if restaurant.blog_post %}
  {% for blog in restaurant.blog_post %}
        <div class="post-heading">
          <h1>{{blog.title}}</h1>
            <h2 class="subheading">{{blog.subtitle}}</h2>
            <span class="meta">Posted by {{blog.author.name}} on {{blog.date}}</span>
        </div>  
      </div>
  </div>
</div>


<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto top-adjust">
          <hr>                
        {{ blog.body|safe }}
          <hr>
        <div class="container">
          <p><a href="{{ restaurant.website }}">Check out their Website!</a></p>
          <p><a href="{{ url_for('restaurants')}}">Return to Restaurant list</a></p>
        </div>
      </div>
    </div>
  </div>
</article>
{% endfor %}
{% else %}
  <h1>Blog Coming Soon!</h1>
{% endif %}


{% endblock %}